#content-container{
    display: grid;
    justify-items: center;
}

#content-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#item > img{
    width: 400px;
    margin: 10px;
}